<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Usuario</servlet-name>
        <servlet-class>Servlets.Usuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Supervisor</servlet-name>
        <servlet-class>Servlets.Supervisor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Cliente</servlet-name>
        <servlet-class>Servlets.Cliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Tecnico</servlet-name>
        <servlet-class>Servlets.Tecnico</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Visita</servlet-name>
        <servlet-class>Servlets.Visita</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Usuario</servlet-name>
        <url-pattern>/Usuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Supervisor</servlet-name>
        <url-pattern>/Supervisor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Cliente</servlet-name>
        <url-pattern>/Cliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Tecnico</servlet-name>
        <url-pattern>/Tecnico</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Visita</servlet-name>
        <url-pattern>/Visita</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
